@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0c1019;
  overflow: hidden;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 40;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ec68f4;
  top: 62%;
  left: 18%;
  animation-duration: 48s;
  animation-delay: -32s;
  transform-origin: 14vw -9vh;
  box-shadow: 2vmin 0 1.245075632853321vmin currentColor;
}
.background span:nth-child(1) {
  color: #ec68f4;
  top: 35%;
  left: 34%;
  animation-duration: 68s;
  animation-delay: -65s;
  transform-origin: -7vw -8vh;
  box-shadow: 2vmin 0 0.5096959176916642vmin currentColor;
}
.background span:nth-child(2) {
  color: #1e90fe;
  top: 94%;
  left: 66%;
  animation-duration: 98s;
  animation-delay: -33s;
  transform-origin: -13vw 20vh;
  box-shadow: 2vmin 0 1.0410802460785014vmin currentColor;
}
.background span:nth-child(3) {
  color: #ec68f4;
  top: 47%;
  left: 12%;
  animation-duration: 38s;
  animation-delay: -20s;
  transform-origin: 22vw -24vh;
  box-shadow: 2vmin 0 0.29520259987586894vmin currentColor;
}
.background span:nth-child(4) {
  color: #1e90fe;
  top: 31%;
  left: 5%;
  animation-duration: 37s;
  animation-delay: -29s;
  transform-origin: 6vw -20vh;
  box-shadow: 2vmin 0 0.5643149433574852vmin currentColor;
}
.background span:nth-child(5) {
  color: #9284fc;
  top: 21%;
  left: 16%;
  animation-duration: 43s;
  animation-delay: -55s;
  transform-origin: -19vw 19vh;
  box-shadow: -2vmin 0 0.9872408214092858vmin currentColor;
}
.background span:nth-child(6) {
  color: #9284fc;
  top: 27%;
  left: 80%;
  animation-duration: 65s;
  animation-delay: -37s;
  transform-origin: -12vw 17vh;
  box-shadow: -2vmin 0 0.8125010107757833vmin currentColor;
}
.background span:nth-child(7) {
  color: #9284fc;
  top: 47%;
  left: 52%;
  animation-duration: 65s;
  animation-delay: -55s;
  transform-origin: -17vw 5vh;
  box-shadow: -2vmin 0 0.7926686081410708vmin currentColor;
}
.background span:nth-child(8) {
  color: #1e90fe;
  top: 19%;
  left: 72%;
  animation-duration: 24s;
  animation-delay: -22s;
  transform-origin: -1vw 25vh;
  box-shadow: 2vmin 0 1.0989899224745394vmin currentColor;
}
.background span:nth-child(9) {
  color: #ec68f4;
  top: 19%;
  left: 95%;
  animation-duration: 19s;
  animation-delay: -13s;
  transform-origin: 18vw 10vh;
  box-shadow: -2vmin 0 1.1289951316991376vmin currentColor;
}
.background span:nth-child(10) {
  color: #1e90fe;
  top: 16%;
  left: 66%;
  animation-duration: 55s;
  animation-delay: -53s;
  transform-origin: -17vw 17vh;
  box-shadow: 2vmin 0 1.0723107013062942vmin currentColor;
}
.background span:nth-child(11) {
  color: #9284fc;
  top: 37%;
  left: 60%;
  animation-duration: 86s;
  animation-delay: -64s;
  transform-origin: -9vw 2vh;
  box-shadow: -2vmin 0 1.208960561624827vmin currentColor;
}
.background span:nth-child(12) {
  color: #1e90fe;
  top: 64%;
  left: 6%;
  animation-duration: 27s;
  animation-delay: -73s;
  transform-origin: -14vw -4vh;
  box-shadow: -2vmin 0 1.0234637976810061vmin currentColor;
}
.background span:nth-child(13) {
  color: #9284fc;
  top: 34%;
  left: 83%;
  animation-duration: 82s;
  animation-delay: -67s;
  transform-origin: -7vw 20vh;
  box-shadow: 2vmin 0 1.0518574074885936vmin currentColor;
}
.background span:nth-child(14) {
  color: #9284fc;
  top: 68%;
  left: 98%;
  animation-duration: 73s;
  animation-delay: -27s;
  transform-origin: -18vw -1vh;
  box-shadow: -2vmin 0 0.5842149324716268vmin currentColor;
}
.background span:nth-child(15) {
  color: #1e90fe;
  top: 6%;
  left: 59%;
  animation-duration: 8s;
  animation-delay: -81s;
  transform-origin: 14vw -6vh;
  box-shadow: 2vmin 0 0.4661400004250025vmin currentColor;
}
.background span:nth-child(16) {
  color: #9284fc;
  top: 54%;
  left: 26%;
  animation-duration: 62s;
  animation-delay: -20s;
  transform-origin: 20vw 2vh;
  box-shadow: -2vmin 0 0.6313694736299802vmin currentColor;
}
.background span:nth-child(17) {
  color: #9284fc;
  top: 33%;
  left: 21%;
  animation-duration: 21s;
  animation-delay: -65s;
  transform-origin: -22vw 15vh;
  box-shadow: 2vmin 0 0.304794883908144vmin currentColor;
}
.background span:nth-child(18) {
  color: #9284fc;
  top: 53%;
  left: 64%;
  animation-duration: 98s;
  animation-delay: -56s;
  transform-origin: 1vw 22vh;
  box-shadow: -2vmin 0 0.4991274254225242vmin currentColor;
}
.background span:nth-child(19) {
  color: #ec68f4;
  top: 66%;
  left: 12%;
  animation-duration: 52s;
  animation-delay: -32s;
  transform-origin: 0vw -21vh;
  box-shadow: -2vmin 0 0.9269019091400952vmin currentColor;
}
.background span:nth-child(20) {
  color: #ec68f4;
  top: 37%;
  left: 61%;
  animation-duration: 73s;
  animation-delay: -46s;
  transform-origin: 22vw 8vh;
  box-shadow: 2vmin 0 0.5723856814170802vmin currentColor;
}
.background span:nth-child(21) {
  color: #ec68f4;
  top: 91%;
  left: 83%;
  animation-duration: 89s;
  animation-delay: -2s;
  transform-origin: -12vw -4vh;
  box-shadow: 2vmin 0 0.4813042192331549vmin currentColor;
}
.background span:nth-child(22) {
  color: #1e90fe;
  top: 29%;
  left: 14%;
  animation-duration: 92s;
  animation-delay: -98s;
  transform-origin: -9vw 16vh;
  box-shadow: 2vmin 0 0.7533956767721741vmin currentColor;
}
.background span:nth-child(23) {
  color: #9284fc;
  top: 21%;
  left: 15%;
  animation-duration: 57s;
  animation-delay: -26s;
  transform-origin: -8vw 17vh;
  box-shadow: 2vmin 0 1.032835517622023vmin currentColor;
}
.background span:nth-child(24) {
  color: #ec68f4;
  top: 47%;
  left: 10%;
  animation-duration: 83s;
  animation-delay: -2s;
  transform-origin: 16vw 7vh;
  box-shadow: -2vmin 0 0.9926248575161427vmin currentColor;
}
.background span:nth-child(25) {
  color: #9284fc;
  top: 47%;
  left: 100%;
  animation-duration: 35s;
  animation-delay: -92s;
  transform-origin: -7vw 7vh;
  box-shadow: 2vmin 0 1.0269671974871466vmin currentColor;
}
.background span:nth-child(26) {
  color: #9284fc;
  top: 52%;
  left: 78%;
  animation-duration: 63s;
  animation-delay: -3s;
  transform-origin: -17vw 8vh;
  box-shadow: -2vmin 0 1.0794396844153018vmin currentColor;
}
